.hero-container{
   /* background: linear-gradient(to right,rgb(16, 16, 104),rgb(163, 160, 160)); */
   background: rgb(53, 13, 141);
}
/* .heroimg img{
    width: 70%;
    height: 500px;
    border: 1px solid black;
    border-radius: 50%;
} */